@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ /*reset css*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

:root {
  --cor-principal: #1B262C;
  --cor-hover: #BBE1FA;
  --cor-desabilitado: #6c757d; /* Cor cinza para botão desabilitado */
}

body {
  margin: 0;
  background-color: var(--cor-principal);
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

header.cabeçalho {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.logoss {
  width: 100px; /* Ajuste o tamanho conforme necessário */
}

header nav.ancoras {
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
  margin-top: 20px;
  margin-right: 20px;
}

header nav.ancoras a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

header nav.ancoras a:hover {
  color: var(--cor-hover);
}

section {
  position: relative;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imagem-logo-escrita {
  width: 300px; /* Ajuste o tamanho conforme necessário */
  margin-bottom: 20px; /* Espaçamento inferior para acomodar o vídeo */
  margin-top: 60px;
}

#inicio {
  background-image: 
    url("../img/99 (3).png"), /* Imagem principal */
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1B262C 100%); /* Gradiente de máscara */
  background-size: cover, cover; /* Ajusta o tamanho das duas imagens */
  background-position: center, center; /* Posiciona as duas imagens */
  background-repeat: no-repeat;
  background-blend-mode: overlay; /* Modo de mesclagem do fundo */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  color: #BBE1FA;
}

#inicio::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(17, 24, 28, 0) 0%, #1B262C 100%);
  pointer-events: none;
  z-index: 1;
}

#inicio * {
  position: relative;
  z-index: 2;
}

.video-container {
  width: 50%;
  max-width: 800px;
  margin: 20px auto; /
}

.video-container video::-webkit-media-controls {
    display: none;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  pointer-events: none;
}

.botao-SaibaMais{
  color: #FFFFFF;
  text-decoration: none;
  height: 50px;
  width: 305px;
  background-color: #0F4C75;
  border-radius: 10px;
  display: block;
  font-size: 26px;
  line-height: 50px; 
}


#section2{
  display: flex;
  gap: 136px;
  margin-bottom: 10px;
}

.Imagem-secundarias{
  margin-left: 70px;
}

span{
  color: #3282B8;
}

span2{
  color: #BBE1FA;
}

.objetivo__titulo{
  font-size: 52px;
}

.objetivo__texto{
  font-size: 30px;
  line-height: 1.6; /* Ajusta a altura da linha */
  padding: 0 20px; /* Adiciona padding nas laterais para reduzir a largura */
  margin: 0 auto; /* Centraliza o texto */
  max-width: 600px; /* Limita a largura máxima do texto */
  margin-top: 27px;
}

.Titulo__Analise{
  font-size: 52px;
  text-align: center;
  margin-bottom: 100px;
}

#section3 {
  background-color: #0F4C75;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  width: 80%; 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela_monitoramento {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1B262C;
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 80%; /* Ocupa toda a largura da section#section3 */
  display: flex;
  justify-content: center; /* Distribui o espaço entre os elementos */ 
}

#section3 h2 {
  color: #bbe1fa;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  width: 35%;
 
}

#form-analise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

#form-analise label,
#form-analise select,
#form-analise button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#form-analise label {
  color: #bbe1fa;
  font-size: 18px;
}

#form-analise select {
  background-color: #bbe1fa;
  color: #1b262c;
}

#form-analise button {
  background-color: #0f4c75;
  color: #bbe1fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#form-analise button:hover {
  background-color: #bbe1fa;
  color: #0f4c75;
}

#form-analise button[disabled] {
  background-color: var(--cor-desabilitado);
  color: #333;
  cursor: not-allowed;
}

#dados-monitoramento {
  margin-left: 40px;
  padding: 20px; 
  background-color: #3282b8;
  border-radius: 10px;
  color: #1b262c;
  width: 50%;
}

#dados-monitoramento p {
  margin: 5px 0;
  font-size: 16px;
  word-break: break-all; 
}

#dados-monitoramento span {
  font-weight: bold;
  color: #BBE1FA;
}

#section4{
  margin-top: 200px;
  gap: 136px;
}

#section5{
  gap: 136px;
}

.ancoras__section6{
  text-decoration: none;
  color: #3282B8;
}

#rodape{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 57px;
}

.rodape__logo{
  width: 300px;
  height: 255px;
  
}

.rodape__texto{
  font-size: 18px;
  color: #6E6E6E;
  text-align: center;
  margin-bottom: 21px;
}